body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFF0;
}
.invitation-title {
    font-family: 'Lobster Two', sans-serif;
}
.card-body {
background-color: #6e2b2b;
color: #ffffff;
}
